footer {
    height: auto;
    padding: 46px 10px 0 10px;
    background-color: #E8E8E8;
    background-image: url('/IMAGES/backgrounds/background.svg');
    background-size: cover;
    position: relative;
}
#footer_content {
    text-align: right;
    color: #888888;
}
#footer_content h3 {
    font-size: 1.2rem;
}

#footer_content h4 {
    font-size: 1rem;
    margin-bottom: 15px;
}
#newsletter_sub {
    width: auto;
    margin: 15px 0;
}
#newsletter_sub input[type="text"] {
    width: auto;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    text-indent: 10px;
    font-size: 1rem;
}
#newsletter_sub input[type="submit"] {
    width: 70px;
    height: 35px;
    border: none;
    background-color: #3878A2;
    color: white;
    cursor: pointer;
}
#SoMe_icons {
    margin-bottom: 20px;
}
#SoMe_icons > img {
    height: 50px;
    cursor: pointer;
    margin-left: 15px;
}
#s_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#s_logos img:first-child {
    min-width: 100px;
    width: 50vw;
    padding-left: 30px;
}
#s_logos img:last-child {
    min-width: 100px;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 200px;
}
footer p {
    color: white;
    font-size: .8rem;
    text-align: center;
}
#project {
position: absolute;
bottom: 10px;
left: 10px;
}
#createdBy {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#org {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


@media screen and (min-width: 605px) { 
    footer {
        height: auto;
        background-color: #E8E8E8;
    }
    #footer_container {
        padding: 50px;
        display: flex;
        height: calc(100% -100px);
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #footer_content {
        width: auto;
        color: #0F3A97;
    }
    #s_logos {
        width: auto;
    }
    #s_logos img:first-child {
        width: 35vw;
        padding-left: 30px;
    }
    #s_logos img:last-child {
        width: 30vw;
        margin: 0 auto;
    }
    #footer_content h3 {
        font-size: 2vw;
    }
    #footer_content h4 {
        font-size: 1.8vw;
    }
    #SoMe_icons > img {
        width: 5vw;
        margin-bottom: 50px;

    }
    #newsletter_sub input[type="text"] {
        height: 40px;
        width: 30vw;
        text-indent: 10px;
        font-size: 1rem;
    }
    #newsletter_sub input[type="submit"] {
        width: 10vw;
        height: 40px;
        font-size: 1.2rem;
    }
    #sign_cont {
        position: relative;
    }
    #sign_cont p {
        color: black;
    }
    #sign {
        width: 35%;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    #createdBy {
        bottom: 30px;
    }

}

@media screen and (min-width: 1080px) { 
    #s_logos img:first-child {
        width: 20vw;
        padding-left: 30px;
    }
    #s_logos img:last-child {
        width: 20vw;
        margin: 0 auto;
    }

}