@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400&display=swap');
@import url("footer.css");
@import url("sidemenu_home.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* Landing region start*/
#landing {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../IMAGES/home/AdobeStock_238169477.jpeg");
    background-size: cover;
    background-position: center;
}
#landing_logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
}


#qoute {
    text-align: center;
    color: white;
    font-weight: thin;
    font-size: 2em;
}
#s_landing_nav {
 position: absolute;
 bottom: 15px;
}
#s_landing_nav li {
    display: inline;
    padding: 0 5px;
}
#s_landing_nav > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
}


@media screen and (min-width: 768px ) {
    #landing_logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 400px;
    }
    #s_landing_nav > li {
        padding: 0 15px;
    }
    #s_landing_nav > li > a {
        font-size: 2rem;
    }
    #qoute {
        font-size: 5vh;
    }
}
@media screen and (min-width: 1080px ) { 
    #s_landing_nav {
        top: 30px;
        right: 30px;
       }
}

/* Landing region end*/



/* launch region start */
#launch {
    height: 90vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered_title {
    width: auto;
    margin: 0 25px;
}
#launch_content {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}
#launch_content h1 {
    text-align: center;
    font-size: 2rem;
}

#countdown {
    text-align: center;
}
#countdown table {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 25px;
    table-layout: fixed;
}

tr.nums th {
    font-size: 1.8rem;
}

.dataitem {
    margin-right: 15px;
}
.dataitem h4 {
    margin-bottom: 5px;
}

.fadeToWhite {
    height: 50%;
    width: 100vw;
    overflow: hidden;
}
#image_launch {
    height: 100%;
    width: 100%;
    background-image: url("../IMAGES/home/AdobeStock_130479437.jpeg");
    background-size: cover;
    background-position: left;
    transform: scale(1.2);
}

.CTA {
    padding: 20px;
    text-align: center;
    border: 3px solid #07578B;
    border-radius: 50px;
    width: 200px;
    margin: auto 0;
    align-self: center;
}

@media screen and (min-width: 768px ) {
    #launch {
        height: 50vh;
        flex-direction: row-reverse;
        background-image:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9136029411764706) 44%, rgba(255,255,255,1) 100%), url("../IMAGES/home/AdobeStock_130479437.jpeg");
        background-size: cover;
        background-position:  /* 0px from the right */ 50%; /* 10% from the bottom */ 
        position: relative;
    }
    .fadeToWhite {
        width: 50%;
        
    }
    #image_launch {
        background-image: none !important; 
    }
    #launch_content {
        height: auto;
    }
    tr.nums th {
        padding: 0 20px;
    }
}
@media screen and (min-width: 1080px ) { 
    #launch {
        height: 80vh;
    }
    #launch_content {
        margin-right: 20px;
        width: 45%;
    }
    #launch_content h1 {
        font-size: 4vw;
    }
    tr.nums th {
        font-size: 5vw;
    }
    .CTA {
        cursor: pointer;
        margin-top: 50px;
        padding: 40px; 
        font-size: 1.2em;
        font-weight: bolder;
        border: 4px solid #07578B;
    }
}
   
/* launch region end */

/* Contact region start */
#contact {
    height: 90vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact_content {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.lefted_title {
    width: auto;
    margin: 0 25px;
    margin-bottom: 5px;
}
.lefted_title h1 {
    font-size: 1.2rem;
}
#contact_content p {
    width: auto;
    margin: 0 25px;
}
#contact_content p:last-child {
    margin-top: 75px;
    text-align: center;
}
#image_contact {
    height: 100%;
    width: 100%;
    background-image: url("../IMAGES/home/AdobeStock_232453667.jpeg");
    background-size: cover;
    background-position: right;
}



@media screen and (min-width: 768px ) {
 #contact {
    height: 50vh;
    flex-direction: row;
    background-image:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9136029411764706) 46%, rgba(255,255,255,0) 100%), url("../IMAGES/home/AdobeStock_232453667.jpeg");
    background-position: right 5px top;
    position: relative;
 }

 #contact_content p {
     margin-bottom: 40px;
 }
 #image_contact {
    background-image: none;
}
}


@media screen and (min-width: 1080px ) {
 #contact {
    height: 80vh;
    background-size: cover;
 }
 #contact_content {
    width: 50%;
 }
 #image_contact {
     width: 50%;
     background-image: none !important;
 }
 .lefted_title h1 {
    font-size: 2vw;
}
}
/* Contact region end */