@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400&display=swap');
@import url("footer.css");
@import url("sidemenu.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif !important;
}
main {
    padding: 45px 14px 0px 14px;   
}

#panelheader {
    padding: 10px 15px 0 15px;
    font-size: 1.2em;
}
.launch_panel {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    max-width: 100%;
    padding: 0;
    max-height: 80vh;
    overflow-y: scroll;
    position: relative;
  }
  
  .toggle {
    display: none;
  }
  
  .panelItems {
    position: relative;
    margin-bottom: 1em;
  }
  
  .title,
  .panelContent {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
  }
  
  .title {
    background: #005288;
    display: block;
    color: white;
    padding: 15px;

  }
  .title:after, .title:before {
    content: '';
    position: absolute;
    right: calc(.25em + 15px);
    top: calc(.25em + 15px);
    width: 2px;
    height: 0.75em;
    background-color: white;
    transition: all 0.2s;
  }
  .title:after {
    transform: rotate(90deg);
  }
  
  .panelContent {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
  }

  
  .toggle:checked .title,
   .title .panelContent {
    box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
  }
  
  
  
  .toggle:checked + .title + .panelContent {
    max-height: 100%;
  }
  .toggle:checked + .title:before {
    transform: rotate(90deg) !important;
  }

.launchdata {
    padding: 10px 15px;
}

#countdown {
    padding-top:50px;
    text-align: center;
}
#countdown table {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 25px;
    table-layout: fixed;
}
tr.nums th {
    font-size: 1.8rem;
}

@media screen and (min-width: 876px ) {
  main {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }
  .l_sec {
    max-width: 30%;
    height: 80%;
    margin: 10px;
  }
  .l_sec p {
  font-size: 1.2em;
  }
 }



 /* LOADER CSS provided by https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  justify-self: center;
  align-self: center;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
