#mobile_menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background-color: white;
    z-index: 100;
}

#menu_logo {
    width: 150px;
    margin-left: 15px;
} 
#menuburger {
    width: 30px;
    height: 30px;
    margin: auto 15px;
}

#menu_panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #menu_panel nav li {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
  }
  #menu_panel nav li a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
  }